<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="icon" href="../../ar/079e7d0c4555412c8590abdad08ea635-free.png" type="image/x-icon"/>
</head>
<body>
    <header>
        <nav>
            <h1 id="Ini">ArticHub</h1>
            <div class="menu-p">
                
            </div>

            <button class="menu_boton" id="menu_boton">☰</button>
        </nav>

        <nav class="menu" id="menu">
            
        </nav>
    </header>
   <h1>Bienvenido</h1>
</body>
</html>