body {
    background-image: url('../../ar/OIG3.HV.jpg');
    margin: 0;
    padding: 0;
}

/* Estilos generales para la barra de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4136D4;
    padding: 15px 15px;
    color: #fff;
    position: relative;
}

.menu-p {
    display: flex;
    align-items: center;
}

/* Ajustamos la lista del menú principal */
.menu-p ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-p ul li {
    margin-right: 20px;
}

.menu-p ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu-p ul li a:hover {
    color: #B3B3B3;
}

h1#Ini {
    margin: 0;
    font-size: 24px;
    margin-left: 10px;
}

#foto, #foto-menu {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

#foto-menu{
    display: block;
    margin: auto;
}

/* Estilos del botón de menú para móviles */
.menu_boton {
    display: none;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #4136D4;
    color: white;
    border: none;
    font-size: 24px;
    transition: background-color 0.3s;
}

/* Estilos del menú móvil */
.menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #4136D4;
    width: 150px;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu ul li {
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.menu ul li a:hover {
    background-color: #5757f5;
}

/* Estilos para pantallas grandes (PC) */
@media screen and (min-width: 690px) {
    .menu_boton {
        display: none; /* Ocultar botón de menú en PC */
    }

    .menu {
        display: none; /* Ocultar el menú móvil en PC */
    }

    #foto {
        display: block; /* Mostrar la imagen en la barra de navegación para pantallas grandes */
    }

    #foto-menu {
        display: none; /* Ocultar la imagen de perfil dentro del menú en pantallas grandes */
    }
}

/* Estilos para pantallas pequeñas (móvil) */
@media screen and (max-width: 690px) {
    .menu-p ul {
        display: none; /* Ocultar el menú principal en móviles */
    }

    .menu_boton {
        display: block; /* Mostrar el botón de menú en móviles */
    }

    .menu {
        display: flex; /* Mostrar el menú en columna al hacer clic en el botón */
    }

    #foto {
        display: none; /* Ocultar la imagen de perfil en la barra de navegación para pantallas pequeñas */
    }

    #foto-menu {
        display: block; /* Mostrar la imagen de perfil solo dentro del menú en pantallas pequeñas */
    }
}
